<!-- /snippets/breadcrumb.liquid -->
{% comment %}
Documentation - http://docs.shopify.com/support/your-website/navigation/creating-a-breadcrumb-navigation
{% endcomment %}

{% unless template == 'index' %}
<div class="bread-crumb">
  <a href="/" title="{{ 'general.breadcrumbs.home_link_title' | t }}">{{ 'general.breadcrumbs.home' | t }}</a>
  {% if template contains 'product' %}

    {% if collection %}
      {% if collection.handle %}
      {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
        <i>/</i>{{ collection.title | link_to: url }}
      {% endif %}
    {% endif %}
  <strong class="active"><i>/</i>{{ product.title }}</strong>

  {% elsif template contains 'collection' and collection.handle %}
    {% if current_tags %}
    {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
      <i>/</i>{{ collection.title | link_to: url }}
      <strong class="active"><i>/</i>{{ current_tags | join: " + " }}</strong>
    {% else %}
    <strong class="active"><i>/</i>{{ collection.title }}</strong>
    {% endif %}

  {% elsif template == 'blog' %}
    {% if current_tags %}
    <i>/</i>{{ blog.title | link_to: blog.url }}
    <strong class="active"><i>/</i>{{ current_tags | join: " + " }}</strong>
    {% else %}
    <strong class="active"><i>/</i>{{ blog.title }}</strong>
  	{% endif %}

  {% elsif template == 'article' %}
    <i>/</i>{{ blog.title | link_to: blog.url }}
    <strong class="active"><i>/</i>{{ article.title }}</strong>

  {% elsif template contains 'page' %}
  	<strong class="active"><i>/</i>{{ page.title }}</strong>

  {% else %}
  	<strong class="active"><i>/</i>{{ page_title }}</strong>

  {% endif %}
</div>
{% endunless %}


