<header id="header" class="header-v2 js-header {% if settings.hdv2_enable_absolute %}{% if template contains '404' or template contains 'customers/login' or template contains 'customers/addresses' or template contains 'customers/account' or template contains 'customers/activate_account' or template contains 'customers/order' or template contains 'customers/register' or template contains 'customers/reset_password' or template contains 'search' %}{% else %}header-absolute{% endif %}{% endif %}">
  <div class="container-fluid my-container ">
    <div class="row">
      <div class="col-xl-2 logo">
        {% if settings.hdv2_logo_svg != blank %}
        <div class="logosvg" style="max-width:{{settings.hdv2_logo_maxwidth}}px;">
          <a class="d-block" href="{{shop.url}}">{{settings.hdv2_logo_svg}}</a>
        </div>
        {% else %}
        <a href="{{shop.url}}" class="d-block">
          {% if settings.hdv2_logo == blank %}
          <img src="//placehold.it/133x21" width="{{settings.hdv2_logo_maxwidth}}px;" alt="{{shop.name}}">
          {% else %}
          <img alt="{{shop.name}}" src="{{settings.hdv2_logo | img_url:'master'}}" width="{{settings.hdv2_logo_maxwidth}}px;" class="img-fluid">
          {% endif %}
        </a>
        {% endif %}
      </div>
      <div class="col-xl-6">
        <div class="menu header-center">
          {% include 'horizontal-menu' %}
        </div>
      </div>
      <div class="col-xl-4 header-right d-lg-flex justify-content-lg-end">

        <form action="/search" class="form-inline">
          <input type="hidden" name="type" value="product">
          <input class="form-control" name="q" type="search" placeholder="Search" value="{{ search.terms | escape }}" aria-label="search">
          <button type="submit" class="search-submit">
            {% if settings.icon_search == blank %}
            <i class="lnr lnr-magnifier"></i>
            {% else %}
            <i class="{{ settings.icon_search }}"></i>
            {% endif %}
          </button>
        </form>


        {% if customer %}
        {% if settings.style_customer == "icon" %}
        <a href="javascript:void(0)" class="btn-login-icon js-popup-login">
          {% if settings.icon_login == blank %}
          <i class="lnr lnr-user"></i>
          {% else %}
          <i class="{{ settings.icon_login }}"></i>
          {% endif %}
        </a>
        {% else %}
        <a href="/account/logout" class="btn-logout js-popup-login">
          {{ settings.text_icon_logout}}
          <i class="fa fa-caret-down f-10 e-arrow"></i>
          {% endif %}
        </a>
        {% else %}
        {% if settings.style_customer == "icon" %}
        <a href="javascript:void(0)" class="btn-login-icon js-popup-login">
          {% if settings.icon_login == blank %}
          <i class="lnr lnr-user"></i>
          {% else %}
          <i class="{{ settings.icon_login }}"></i>
          {% endif %}
        </a>
        {% else %}
        <a href="javascript:void(0)" class="btn-login js-popup-login">
          {{ settings.text_icon_login}}
          <i class="fa fa-caret-down f-10 e-arrow"></i>
        </a>
        {% endif %}
        {% endif %}

        <a href="#" class="btn-cart inline-block text-center js-minicart">
          {% if settings.icon_cart == blank %}
          <i class="lnr lnr-cart"></i>
          {% else %}
          <i class="{{ settings.icon_cart }}"></i>
          {% endif %}
          <span class="minicart-bag-number enj-cartcount">{{ cart.item_count }}</span>
        </a>
        <a href="#" class="d-inline-block icon-pushmenu js-btn-pushmenu">
          {% if settings.icon_pushmenu == blank %}
          <svg width="16" height="11" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 66 41" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve">
            <g>
              <line class="st0" x1="1.5" y1="1.5" x2="64.5" y2="1.5"></line>
              <line class="st0" x1="1.5" y1="20.5" x2="64.5" y2="20.5"></line>
              <line class="st0" x1="1.5" y1="39.5" x2="64.5" y2="39.5"></line>
            </g>
          </svg>
          {% else %}
          <i class="{{ settings.icon_pushmenu }}"></i>
          {% endif %}
        </a>
      </div>
    </div>
  </div>
</header>
<div class="background-overlay js-bg-overlay-vertical"></div>
<div class="vertical-tab js-vertical-tab" style="background-image: url({% if settings.bg_vertical != blank %}{{settings.bg_vertical|img_url:'master'}}{% else %}//placehold.it/545x980{% endif %});">
  {% include 'vertical-menu' %}
  <div class="close-vertical js-close-vertical">
    <span>Close</span>
  </div>
</div>

<style>
  .header-v2 .menu ul .nav-item .menu-level-1, .header-v2 .btn-login-icon, .header-v2 .btn-logout-icon,
  .header-v2 .header-right .btn-cart, .header-v2 .header-right .icon-pushmenu {
    color: {{settings.hdv2_color_text}};
  }
  .header-v2 .menu ul .nav-item .menu-level-1:hover, .header-v2 .btn-login-icon:hover, .header-v2 .btn-logout-icon:hover,
  .header-v2 .header-right .btn-cart:hover, .header-v2 .header-right .icon-pushmenu:hover {
    color: {{settings.hdv2_color_text_hover}};
  }
</style>