<header id="header" class="header-v3">
  <div class="container-fluid my-container ">
    <div class="row">
      <div class="col-xl-6">
        <div class="row">
          <div class="col-xl-6">
            {% if settings.hdv3_logo_svg != blank %}
            <div class="logosvg" style="max-width:{{settings.hdv3_logo_maxwidth}}px;">
              <a class="d-block" href="{{shop.url}}">{{settings.hdv3_logo_svg}}</a>
            </div>
            {% else %}
            <a href="{{shop.url}}" class="d-block">
              {% if settings.hdv3_logo == blank %}
              <img src="//placehold.it/133x21" width="{{settings.hdv3_logo_maxwidth}}px;" alt="{{shop.name}}">
              {% else %}
              <img alt="{{shop.name}}" src="{{settings.hdv3_logo | img_url:'master'}}" width="{{settings.hdv3_logo_maxwidth}}px;" class="img-fluid">
              {% endif %}
            </a>
            {% endif %}
          </div>
          <div class="col-xl-6">
            <div class="header-right d-flex align-items-center justify-content-end">
              <a href="javascript:void(0)" class="btn-search">
                {% if settings.icon_search == blank %}
                <i class="lnr lnr-magnifier"></i>
                {% else %}
                <i class="{{ settings.icon_search }}"></i>
                {% endif %}
                <div class="input-search">
                  <form action="/search">
                    <input type="hidden" name="type" value="product">
                    <input type="text" placeholder="Type to search" name="q" value="{{ search.terms | escape }}"  />
                    <button type="submit" value="">Search</button>
                  </form>	
                </div>
              </a>

              {% if customer %}
              {% if settings.style_customer == "icon" %}
              <a href="javascript:void(0)" class="btn-login-icon js-popup-login">
                {% if settings.icon_login == blank %}
                <i class="lnr lnr-user"></i>
                {% else %}
                <i class="{{ settings.icon_login }}"></i>
                {% endif %}
              </a>
              {% else %}
              <a href="/account/logout" class="btn-logout js-popup-login">
                {{ settings.text_icon_logout}}
                <i class="fa fa-caret-down f-10 e-arrow"></i>
                {% endif %}
              </a>
              {% else %}
              {% if settings.style_customer == "icon" %}
              <a href="javascript:void(0)" class="btn-login-icon js-popup-login">
                {% if settings.icon_login == blank %}
                <i class="lnr lnr-user"></i>
                {% else %}
                <i class="{{ settings.icon_login }}"></i>
                {% endif %}
              </a>
              {% else %}
              <a href="javascript:void(0)" class="btn-login js-popup-login">
                {{ settings.text_icon_login}}
                <i class="fa fa-caret-down f-10 e-arrow"></i>
              </a>
              {% endif %}
              {% endif %}

              <a href="javascript:void(0)" class="btn-cart text-center js-minicart">
                {% if settings.icon_cart == blank %}
                <i class="lnr lnr-cart"></i>
                {% else %}
                <i class="{{ settings.icon_cart }}"></i>
                {% endif %}
                <span class="minicart-bag-number enj-cartcount">{{ cart.item_count }}</span>
              </a>
              <a href="#" class="d-inline-flex icon-pushmenu js-btn-pushmenu">
                {% if settings.icon_pushmenu == blank %}
                <svg width="16" height="11" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 66 41" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve">
                  <g>
                    <line class="st0" x1="1.5" y1="1.5" x2="64.5" y2="1.5"></line>
                    <line class="st0" x1="1.5" y1="20.5" x2="64.5" y2="20.5"></line>
                    <line class="st0" x1="1.5" y1="39.5" x2="64.5" y2="39.5"></line>
                  </g>
                </svg>
                {% else %}
                <i class="{{ settings.icon_pushmenu }}"></i>
                {% endif %}
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6">
      </div>
    </div>
  </div>
</header>
<div class="background-overlay js-bg-overlay-vertical"></div>
<div class="vertical-tab js-vertical-tab d-none d-xl-block" style="background-image: url({% if settings.bg_vertical != blank %}{{settings.bg_vertical|img_url:'master'}}{% else %}//placehold.it/545x980{% endif %});">
  {% include 'vertical-menu' %}
  <div class="close-vertical js-close-vertical">
    <span>Close</span>
  </div>
</div>

<style>
  .header-v3 .btn-search, .header-v3 .btn-login-icon, .header-v3 .btn-login, .header-v3 .btn-logout .header-v3 .btn-logout-icon, .header-v3 .header-v3 .btn-cart, 
  .header-v3 .icon-pushmenu {
    color: {{settings.hdv3_color_text}};
  }
  .header-v3 .btn-search:hover, .header-v3 .btn-login-icon:hover, .header-v3 .btn-login:hover, .header-v3 .btn-logout:hover, .header-v3 .btn-logout-icon:hover,
  .header-v3 .header-v3 .btn-cart:hover, .header-v3 .icon-pushmenu:hover {
    color: {{settings.hdv3_color_text_hover}};
  }
</style>