{% if settings.enable_popup %}
<div class="popup-newsletter js-popup-newsletter d-none">
  <div class="background-overlay-newsletter js-bg-overlay-newsletter"></div>
  <div class="popup-content d-inline-block">
    <div class="ti-close js-close-popup"></div>
    <div class="row">
      <div class="col-lg-6 col-12">
        {% if settings.popup_nst_bg_img != blank %}
        <img src="{{settings.popup_nst_bg_img | img_url: "master"}}" alt="" class="img-fluid d-none d-lg-block">
        {% else %}
        <img src="//placehold.it/610x500" alt="" class="img-fluid d-none d-lg-block">
        {% endif %}
      </div>
      <div class="col-lg-6 col-12 d-flex flex-wrap">
        <div class="col-lg-10 col-12 p-0 m-auto">
          {% if settings.popup_nst_title != blank %}
          <h3>{{settings.popup_nst_title}}</h3>
          {% endif %}
          {% if settings.popup_nst_des != blank %}
          <p>{{settings.popup_nst_des}}</p>
          {% endif %}
          {% if settings.newsletter_form_action != blank %}
          {% assign form_action = settings.newsletter_form_action %}
          {% else %}
          {% assign form_action = '#' %}
          {% endif %}
          <form action="{{form_action}}" method="post" class="w-100 margin-bottom-30">
            <input type="text" name="EMAIL" class="form-control" placeholder="{{settings.popup_nst_placeholder_input}}">
            {% if settings.popup_nst_btn_name != blank %}
            <a class="btn-newsletter" href="{{settings.popup_nst_btn_url}}">{{settings.popup_nst_btn_name}}</a>
            {% endif %}
          </form>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input js-form-check-input" id="examplecheck1">
          <label class="form-check-label" for="examplecheck1">{{settings.popup_nst_note}} </label>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}