{% assign product = all_products[section.settings.select_product]%}
<div class="col-12">
  <div class="product-item-v2">
    <div class="product row">
      <div class="col-12 col-lg-6">
        <div class="product-image">
          <a href="{{ product.url}}" class="d-block overflow-hidden">
            <img src="{{ product.featured_image.src | img_url: 'master' }}" class="img-fluid w-100">
          </a>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="product-info">
          <p>{{product.type}}</p>
          <div class="star-rating">
            <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
          </div>
          <h6 class="product-name">
            <a href="{{ product.url}}">{{product.title }}</a>
          </h6>
          <span class="product-price">
            {% capture price %}{{ product.price | money_without_trailing_zeros }}{% endcapture %}
            <ins>{% if product.price_varies %}{{ 'products.general.from_text_html' | t: price: price }}{% else %}{{ price }}{% endif %}</ins>
            {% if on_sale %}<del>{{ product.compare_at_price | money_without_trailing_zeros }}</del>{% endif %}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
