<div class="contact-us">
  <div class="contactus-content">
    <div class="contact-image">
      <a href= "{{section.settings.contact_url}}" class="d-block">
        {% if section.settings.contact_img == blank %}
        <img src="//placehold.it/1920x980" class="img-fluid w-100" alt="">
        {% else%}
        <img src="{{section.settings.contact_img|img_url:'master'}}" class="img-fluid w-100" alt="About Us">
        {% endif%}
      </a>
      <div class="breadcrumb-title text-center">
        <div class="section-title">
          {% if section.settings.contact_title != blank %}
          <h2>{{section.settings.contact_title}}</h2>
          {% endif %}
        </div>
        {% include 'breadcrumb' %}
      </div>
    </div>
    <div class="container-fluid my-container">
      <div class="row">
        <div class="col-12 col-md-6">
          {% if section.settings.enable_s_info %}
          <div class="contact-page-info">
            <h3 class="text-capitalize">{{section.settings.info_left_title}}</h3>
            <p>{{section.settings.info_desc}}</p>
            <div class="address">
              <span class="{{section.settings.info_icon1}}">
              </span>
              <p class="text-capitalize mb-0">
                {{section.settings.info_content1}}
              </p>
            </div>
            <div class="tel">
              <span class="{{section.settings.info_icon2}}">
              </span>
              <p class="text-capitalize mb-0">
                {{section.settings.info_content2}}
              </p>
            </div>
            <div class="email">
              <span class="{{section.settings.info_icon3}}">
              </span>
              <p class="mb-0">
                {{section.settings.info_content3}}
              </p>
            </div>
            <div class="clock">
              <span class="{{section.settings.info_icon4}}">
              </span>
              <p class="mb-0">
                {{section.settings.info_content4}}
              </p>
            </div>
          </div>
          {% endif %}
        </div>
        <div class="col-12 col-md-6">
          {% if section.settings.enable_s_contactform %}
          <div class="contact-form-page">
            <h3 class="text-capitalize">{{section.settings.contactform_title}}</h3>

            {% form 'contact' %}

            {% if form.posted_successfully? %}
            <div class="alert alert-success alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <p style="margin-bottom: 5px;">
                {{ 'contact.form.post_success' | t }}
              </p>
            </div>
            {% endif %}

            {% if form.errors %}
            <div class="alert alert-success alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <!-- {{ form.errors.size }} or {{ form.errors | size }} -->
              <p style="margin-bottom: 5px;">Your contact form has {{ form.errors | size | pluralize: "an error", "a few errors" }}. To submit your form, make the following changes and try again:</p>
              {% for field in form.errors %}
              <p style="margin-bottom: 5px;">The {{ field | capitalize | replace: 'Body', 'Message' }} field {{ form.errors.messages[field] }}.</p>
              {% endfor %}
            </div>
            {% endif %}
            <div class="contact-form row">
              <div class="col-lg-6 col-12">
                <p class="contact-name">
                  <input placeholder="{{section.settings.contactform_name}}" type="text" id="contactFormName" name="contact[name]" required>
                </p>
              </div>
              <div class="col-lg-6 col-12">
                <p class="contact-email">
                  <input placeholder="{{section.settings.contactform_email}}" type="email" id="contactFormEmail" name="contact[email]" required>
                </p>
              </div>
              <div class="col-12">
                <p class="contact-subject">
                  <input placeholder="{{section.settings.contactform_subject}}" type="subject" id="contactFormSubject" name="contact[subject]" required>
                </p>
              </div>
              <div class="col-12 contact-message">
                <textarea placeholder="{{section.settings.contactform_content}}" cols="30" rows="10" id="contactFormMessage" name="contact[body]" required></textarea>
              </div>
              <div class="col-12 contact-submit">
                <button class="shop-button" value="submit" type="submit">{{section.settings.contactform_btn}}</button>
              </div>
            </div>
            {% endform %}
          </div>
          {% endif %}
        </div>
      </div>
      <!-- End Contact Info -->

      {% if section.settings.enable_s_gmap %}
      <div class="contact-google-map bg-white border">
        <a href="{{section.settings.google_map_url}}" class="d-block img-url">
          {% if section.settings.google_map_img == blank %}
          <img src="{{'google-map.jpg' | asset_url}}" class="img-fluid w-100" alt="">
          {% else %}
          <img src="{{section.settings.google_map_img|img_url:'master'}}" class="img-fluid w-100" alt="Banner">
          {% endif %}
        </a>
      </div>
      {% endif %}
      <!-- End Google Map -->

    </div>



  </div>
</div>
{% if section.settings.enable_section_service!= blank %}
<div class="service-page">
  <div class="container-fluid my-container">
    <div class="service-content row">
      <div class="col-xl-3 col-lg-6 col-sm-6 col-12">
        <div class="service">
          <a href="{{section.settings.ser_url1}}" class="{{section.settings.ser_icon1}}">
          </a>
          <div class="service-info">
            <h4 class="mb-0 text-capitilaze">{{section.settings.ser_title1}}</h4>
            <p class="mb-0">{{section.settings.ser_content1}}</p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-sm-6 col-12">
        <div class="service">
          <a href="{{section.settings.ser_url2}}" class="{{section.settings.ser_icon2}}">
          </a>
          <div class="service-info">
            <h4 class="mb-0 text-capitilaze">{{section.settings.ser_title2}}</h4>
            <p class="mb-0">{{section.settings.ser_content2}}</p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-sm-6 col-12">
        <div class="service">
          <a href="{{section.settings.ser_url3}}" class="{{section.settings.ser_icon3}}">
          </a>
          <div class="service-info">
            <h4 class="mb-0 text-capitilaze">{{section.settings.ser_title3}}</h4>
            <p class="mb-0">{{section.settings.ser_content3}}</p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 col-sm-6 col-12">
        <div class="service ">
          <a href="{{section.settings.ser_url4}}" class="{{section.settings.ser_icon4}}">
          </a>
          <div class="service-info">
            <h4 class="mb-0 text-capitilaze">{{section.settings.ser_title4}}</h4>
            <p class="mb-0">{{section.settings.ser_content4}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% schema %}
{
  "name": "Contact Us page",
  "settings": [
    {
      "type": "image_picker",
      "id": "contact_img",
      "info": "1920 x 980px recommended",
      "label": "Contact Image"
    },
    {
      "type": "url",
      "id": "contact_url",
      "label": "Contact URL",
      "default": "/collections/all"
    },
    {
      "type": "header",
      "content": "Title"
    },
    {
      "type": "text",
      "id": "contact_title",
      "label": "Title",
      "default": "Contact us"
    },
    {
      "type": "header",
      "content": "Section Info"
    },
    {
      "type": "checkbox",
      "id": "enable_s_info",
      "label": "Enable?",
      "default": true
    },
      {
        "type": "text",
        "id": "info_left_title",
        "label": "Title",
        "default": "Contact details"
      },
      {
        "type": "textarea",
        "id": "info_desc",
        "label": "Description",
        "default": "Maecenas sed diam eget risus varius blandit sit amet non magna. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam."
      },
      {
        "type": "text",
        "id": "info_icon1",
        "label": "Icon 1",
        "info": "[Get icon here](https:\/\/linearicons.com\/free)",
        "default": "lnr lnr-home"
      },
      {
        "type": "text",
        "id": "info_content1",
        "label": "Content 1",
		"default": "<span>Address:</span>1234 Heaven Stress, Beverly Hill."
      },
      {
        "type": "text",
        "id": "info_icon2",
        "label": "Icon 2",
        "info": "[Get icon here](https:\/\/aalmiray.github.io\/ikonli\/cheat-sheet-themify.html)",
        "default": "lnr lnr-phone"
      },
      {
        "type": "text",
        "id": "info_content2",
        "label": "Content 2",
        "default": "<span>Telephone:</span>+01 234 567 89"
      },
      {
        "type": "text",
        "id": "info_icon3",
        "label": "Icon 3",
        "info": "[Get icon here](https:\/\/aalmiray.github.io\/ikonli\/cheat-sheet-themify.html)",
        "default": "lnr lnr-envelope"
      },
      {
        "type": "text",
        "id": "info_content3",
        "label": "Content 3",
        "default": "<span>Email:</span>info@pixelcreative.com"
      },
      {
        "type": "text",
        "id": "info_icon4",
        "label": "Icon 4",
        "info": "[Get icon here](https:\/\/aalmiray.github.io\/ikonli\/cheat-sheet-themify.html)",
        "default": "lnr lnr-clock"
      },
      {
        "type": "text",
        "id": "info_content4",
        "label": "Content 4",
        "default": "<span>Open Door:</span>8:00 - 19:00, Monday - Saturday"
      },
    {
      "type": "header",
      "content": "Section Contact Form"
    },
    {
      "type": "checkbox",
      "id": "enable_s_contactform",
      "label": "Enable?",
      "default": true
    },
    {
      "type": "text",
      "id": "contactform_title",
      "label": "Title",
      "default": "Get In Touch With Us"
    },
    {
      "type": "text",
      "id": "contactform_name",
      "label": "Placeholder name",
      "default": "Enter your name"
    },
    {
      "type": "text",
      "id": "contactform_email",
      "label": "Placeholder email",
      "default": "Your Email"
    },
    {
      "type": "text",
      "id": "contactform_subject",
      "label": "Placeholder subject",
      "default": "Subject"
    },
    {
      "type": "text",
      "id": "contactform_content",
      "label": "Placeholder Message",
      "default": "Your Message Here*"
    },
    {
      "type": "text",
      "id": "contactform_btn",
      "label": "Button name",
      "default": "Send to us"
    },
    {
      "type": "header",
      "info": "Google Map: Setting in Login Store > Customize theme > Theme settings tab > Google Maps",
      "content": "Section Map"
    },
    {
      "type": "checkbox",
      "id": "enable_s_gmap",
      "label": "Enable?",
      "default": true
    },
    {
      "type": "image_picker",
      "id": "google_map_url",
      "label": "Url"
    },
    {
      "type": "image_picker",
      "id": "google_map_img",
      "label": "Image"
    },
    {
      "type": "header",
      "content": "Service box"
    },
    {
      "type": "checkbox",
      "id": "enable_section_service",
      "label": "Enable?",
      "default": true
    },
    {
      "type": "text",
      "id": "ser_icon1",
      "label": "Icon 1",
      "info": "[Get icon here](https://aalmiray.github.io/ikonli/cheat-sheet-themify.html)",
      "default": "ti-truck"
    },
    {
      "type": "url",
      "id": "ser_url1",
      "label": "URL 1",
      "default": "/collections/all"
    },
    {
      "type": "text",
      "id": "ser_title1",
      "label": "Title 1",
      "default": "Free shipping"
    },
    {
      "type": "text",
      "id": "ser_content1",
      "label": "Content 1",
      "default": "Free shipping on all UK order"
    },
    {
      "type": "text",
      "id": "ser_icon2",
      "label": "Icon 2",
      "info": "[Get icon here](https://aalmiray.github.io/ikonli/cheat-sheet-themify.html)",
      "default": "ti-reload"
    },
    {
      "type": "url",
      "id": "ser_url2",
      "label": "URL 2",
      "default": "/collections/all"
    },
    {
      "type": "text",
      "id": "ser_title2",
      "label": "Title 2",
      "default": "Valuable Gifts"
    },
    {
      "type": "text",
      "id": "ser_content2",
      "label": "Content 2",
      "default": "Free gift after every 10 order"
    },
    {
      "type": "text",
      "id": "ser_icon3",
      "label": "Icon 3",
      "info": "[Get icon here](https://aalmiray.github.io/ikonli/cheat-sheet-themify.html)",
      "default": "ti-alarm-clock"
    },
    {
      "type": "url",
      "id": "ser_url3",
      "label": "URL 3",
      "default": "/collections/all"
    },
    {
      "type": "text",
      "id": "ser_title3",
      "label": "Title 3",
      "default": "All Day Support"
    },
    {
      "type": "text",
      "id": "ser_content3",
      "label": "Content 3",
      "default": "Call us for free: +01 234 567 89"
    },
    {
      "type": "text",
      "id": "ser_icon4",
      "label": "Icon 4",
      "info": "[Get icon here](https://aalmiray.github.io/ikonli/cheat-sheet-themify.html)",
      "default": "icon-ecommerce-sale"
    },
    {
      "type": "url",
      "id": "ser_url4",
      "label": "URL 4",
      "default": "/collections/all"
    },
    {
      "type": "text",
      "id": "ser_title4",
      "label": "Title 4",
      "default": "Seasonal Sale"
    },
    {
      "type": "text",
      "id": "ser_content4",
      "label": "Content 4",
      "default": "Discounts up to 50% on all"
    }
  ],
  "presets": [
    {
      "name": "Contact Us page"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
