<div data-section-id="{{ section.id }}" data-section-type="section-newsletter-v1" style="{% if section.settings.margin_top != blank %}margin-top: {{section.settings.margin_top}}px;{%endif%} {% if section.settings.margin_bottom != blank %}margin-bottom: {{section.settings.margin_bottom}}px;{% endif %} {% if section.settings.sections_layout == "dark" %}background: {{section.settings.sections_bg_color}};{% endif %}">
  <div class="section-newsletter-v1" style="background-image: url({% if section.settings.newsletter_img != blank %}{{section.settings.newsletter_img|img_url:'master'}}{% else %}//placehold.it/1920x426{% endif %});">
    <div class="container-fluid my-container">
      <div class="newsletter text-center">
        <div class="newsletter-info">
          {% if section.settings.newsletter_title != blank %}
          <h2>{{section.settings.newsletter_title}}</h2>
          {% endif %}

          {% if section.settings.newsletter_description != blank %}
          <p>{{section.settings.newsletter_description}}</p>
          {% endif %}

        </div>

        {% if settings.newsletter_form_action != blank %}
        {% assign form_action = settings.newsletter_form_action %}
        {% else %}
        {% assign form_action = '#' %}
        {% endif %}
        
        <form action="{{ form_action }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank"  class="d-inline-flex">
            <input  class="form-control" type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{section.settings.placeholder_input}}" name="EMAIL" id="mail" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}" autocorrect="off" autocapitalize="off">

          <button type="submit" class="btn-newsletter"  name="subscribe" id="subscribe"><i class="{{section.settings.newsletter_btn_icon}}"></i></button>

        </form>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Newsletter v1",
  "class": "index-section",
  "settings": [
	{
	  "type": "header",
	  "content": "Banner Image"
	},
        {
          "type": "image_picker",
          "id": "newsletter_img",
          "info": "1920 x 426px recommended",
          "label": "Background Image"
        },
	{
	  "type": "header",
	  "content": "Title"
	},
    {
      "type": "text",
      "id": "newsletter_title",
      "label": "Title",
      "default": "Newsletter"
    },
	{
	  "type": "header",
	  "content": "Content"
	},
    {
      "type": "text",
      "id": "newsletter_description",
      "label": "Description",
      "default": "Enter your email address for our mailing list to keep your self update."
    },
	{
	  "type": "header",
	  "content": "Form"
	},
    {
      "type": "text",
      "id": "placeholder_input",
      "label": "Placeholder input",
      "default": "Enter your email.."
    },
    {
      "type": "text",
      "id": "newsletter_btn_icon",
      "label": "Button icon",
      "default": "lnr lnr-envelope"
    },
    {
      "type": "header",
      "content": "Section Space"
    },
    {
      "type": "text",
      "id": "margin_top",
      "label": "Margin Top",
      "info": "Defined in pixels. Do not add the 'px' unit."
    },
    {
      "type": "text",
      "id": "margin_bottom",
      "label": "Margin Bottom",
      "info": "Defined in pixels. Do not add the 'px' unit."
    }
  ],
  "presets": [
    {
      "name": "Newsletter v1",
      "category": "Home 1"
    }
  ]
}
{% endschema %}


{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
