<div data-section-id="{{ section.id }}" data-section-type="section-banner-v4" style="{% if section.settings.margin_top != blank %}margin-top: {{section.settings.margin_top}}px;{%endif%} {% if section.settings.margin_bottom != blank %}margin-bottom: {{section.settings.margin_bottom}}px;{% endif %} {% if section.settings.sections_layout == "dark" %}background: {{section.settings.sections_bg_color}};{% endif %}">
  <div class="section-banner-v4">
    <div class="container-fluid my-container">
      <div class="row no-gutters">
        <div class="banner banner-1 text-center col-md-4 col-12">
          <a href="{{section.settings.banner_url1}}" class="d-block img-url">
            {% if section.settings.banner_img1 == blank %}
            <img src="//placehold.it/520x980" class="img-fluid w-100" alt="">
            {% else %}
            <img src="{{section.settings.banner_img1|img_url:'master'}}" class="img-fluid w-100" alt="Banner">
            {% endif %}
          </a>
          <div class="banner-info banner-1-info">
            <h2>{{section.settings.banner_1_title}}</h2>
            <h5>{{section.settings.banner_1_sub_title}}</h5>
          </div> 
        </div>
        <div class="col-md-8 col-12">
          <div class="banner banner-2">
            <a href="{{section.settings.banner_url2}}" class="d-block img-url">
              {% if section.settings.banner_img2 == blank %}
              <img src="//placehold.it/1050x490" class="img-fluid w-100" alt="">
              {% else %}
              <img src="{{section.settings.banner_img2|img_url:'master'}}" class="img-fluid w-100" alt="Banner">
              {% endif %}
            </a>
            <div class="banner-info banner-2-info">
              <h5>{{section.settings.banner_2_sub_title}}</h5>
              <h2>{{section.settings.banner_2_title}}</h2>
              <p>{{section.settings.banner_2_content}}</p>
              <a href="{{section.settings.btn_url2}}" class="button-name style1">{{section.settings.btn_name2}}</a>
            </div>
          </div>
          <div class="row no-gutters">
            <div class="col-md-6 col-12">
              <div class="banner banner-3">
                <a href="{{section.settings.banner_url3}}" class="d-block img-url">
                  {% if section.settings.banner_img3 == blank %}
                  <img src="//placehold.it/520x490" class="img-fluid w-100" alt="">
                  {% else %}
                  <img src="{{section.settings.banner_img3|img_url:'master'}}" class="img-fluid w-100" alt="Banner">
                  {% endif %}
                </a>
                <div class="banner-info banner-3-info">
                  <h5>{{section.settings.banner_3_sub_title}}</h5>
                  <h2>{{section.settings.banner_3_title}}</h2>
                  <p>{{section.settings.banner_3_content}}</p>
                  <a href="{{section.settings.btn_url3}}" class="button-name style1">{{section.settings.btn_name3}}</a>
                </div> 
              </div>
            </div>
            <div class="col-md-6 col-12">
              <div class="banner banner-4 text-center">
                <a href="{{section.settings.banner_url4}}" class="d-block img-url">
                  {% if section.settings.banner_img4 == blank %}
                  <img src="//placehold.it/520x490" class="img-fluid w-100" alt="">
                  {% else %}
                  <img src="{{section.settings.banner_img4|img_url:'master'}}" class="img-fluid w-100" alt="Banner">
                  {% endif %}
                </a>
                <div class="banner-info banner-4-info">
                  <h5>{{section.settings.banner_4_sub_title}}</h5>
                  <h2>{{section.settings.banner_4_title}}</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Banner v4",
  "class": "index-section",
  "settings": [
    {
      "type": "header",
      "content": "Banner 1"
    },
    {
      "type": "image_picker",
      "id": "banner_img1",
      "info": "520 x 980px recommended",
      "label": "Banner Image"
    },
    {
      "type": "url",
      "id": "banner_url1",
      "label": "Banner URL",
      "default": "/collections/all"
    },
    {
      "type": "header",
      "content": "Banner info"
    },
    {
      "type": "text",
      "id": "banner_1_title",
      "label": "Title",
      "default": "Run Don't Hide"
    },
    {
      "type": "text",
      "id": "banner_1_sub_title",
      "label": "Sub title",
      "default": "Nike Flash Be Seen"
    },
    {
      "type": "header",
      "content": "Banner 2"
    },
    {
      "type": "image_picker",
      "id": "banner_img2",
      "info": "1050 x 490px recommended",
      "label": "Banner Image"
    },
    {
      "type": "url",
      "id": "banner_url2",
      "label": "Banner URL",
      "default": "/collections/all"
    },
    {
      "type": "header",
      "content": "Banner info"
    },
    {
      "type": "text",
      "id": "banner_2_sub_title",
      "label": "Sub title",
      "default": "Women's Training"
    },
    {
      "type": "text",
      "id": "banner_2_title",
      "label": "Title",
      "default": "Don't Rest Bra"
    },
    {
      "type": "text",
      "id": "banner_2_content",
      "label": "Content",
      "default": "Best Sellers"
    },
    {
      "type": "text",
      "id": "btn_name2",
      "label": "Button name",
      "default": "More info"
    },
    {
      "type": "url",
      "id": "btn_url2",
      "label": "Button URL",
      "default": "/collections/all"
    },
    {
      "type": "header",
      "content": "Banner 3"
    },
    {
      "type": "image_picker",
      "id": "banner_img3",
      "info": "520 x 490px recommended",
      "label": "Banner Image"
    },
    {
      "type": "url",
      "id": "banner_url3",
      "label": "Banner URL",
      "default": "/collections/all"
    },
    {
      "type": "header",
      "content": "Banner info"
    },
    {
      "type": "text",
      "id": "banner_3_sub_title",
      "label": "Sub title",
      "default": "Hello Summer 2019"
    },
    {
      "type": "text",
      "id": "banner_3_title",
      "label": "Title",
      "default": "Extra 50%Off"
    },
    {
      "type": "textarea",
      "id": "banner_3_content",
      "label": "Content",
      "default": "It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout."
    },
    {
      "type": "text",
      "id": "btn_name3",
      "label": "Button name",
      "default": "More info"
    },
    {
      "type": "url",
      "id": "btn_url3",
      "label": "Button URL",
      "default": "/collections/all"
    },
    {
      "type": "header",
      "content": "Banner 4"
    },
    {
      "type": "image_picker",
      "id": "banner_img4",
      "info": "520 x 490px recommended",
      "label": "Banner Image"
    },
    {
      "type": "url",
      "id": "banner_url4",
      "label": "Banner URL",
      "default": "/collections/all"
    },
    {
      "type": "header",
      "content": "Banner info"
    },
    {
      "type": "text",
      "id": "banner_4_sub_title",
      "label": "Sub title",
      "default": "Nike Shoes"
    },
    {
      "type": "text",
      "id": "banner_4_title",
      "label": "Title",
      "default": "Collection 2019"
    },
    {
      "type": "header",
      "content": "Section Space"
    },
    {
      "type": "text",
      "id": "margin_top",
      "label": "Margin Top",
      "info": "Defined in pixels. Do not add the 'px' unit."
    },
    {
      "type": "text",
      "id": "margin_bottom",
      "label": "Margin Bottom",
      "info": "Defined in pixels. Do not add the 'px' unit."
    }
  ],
  "presets": [
    {
      "name": "Banner v4",
      "category": "Home 2"
    }
  ]
}
{% endschema %}


{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
